
		<form method="get" action="/quizes/answer">
			Pregunta: <%= pregunta %><p>
			<input type="text" name="respuesta" value="Escriba la respuesta"/><br>
			<input type="submit" value="Enviar"/><br>
		</form>
	